*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2E7DC;
    font-family: "A P-OTF 秀英角ゴシック銀 StdN", sans-serif;
    color: #5F4A4A;
}

header{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid skyblue; */
}
#logo{
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid tomato; */
}
nav{
    width: 636px;
    margin: auto 0;
    /* border: 1px solid tomato; */
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
nav li{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    list-style-type: none;
    background-color:#B9D483;
    /* border: 1px solid tomato; */
}
nav li a{
    font-size: 14px;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}
nav li a:visited, a:active{
    color: white;
}

#main_wrap{
    width: 100%;
    height: 200vh;
    background-color: #FAF3EA;
}
main{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    /* border: 3px solid skyblue; */
}
#title{
    color: #5F4A4A;
    font-size: 30px;
    text-align: center;
    width: 500px;
    background: #F3E7DD;
    padding: 10px;
    margin: 80px auto 100px;
}
#phone_number_wrap{
    width: 900px;
    height: 220px;
    margin: 0 auto 150px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.5);
    /* border: 1px solid tomato; */
}
#phone_number_title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    /* border: 1px solid tomato; */
}
#phone_number{
    font-size: 70px;
    color: #7CB05B;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    /* border: 1px solid tomato; */
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 34px 0;
}
form{
    font-size: 22px;
    width: 900px;
    height: 800px;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    /* border: 1px solid tomato; */
}
.form_sample{
    width: 850px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 auto 20px;
    /* border: 1px solid tomato; */
}
.form_label{
    width: 200px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    /* border: 1px solid tomato; */
}
.form_input{
    font-size: 20px;
    border-radius: 3px;
    margin-left: 20px;
    padding: 0 10px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    border: 1px solid #5F4A4A;
}
.form_radio{
    width: 850px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 auto 20px;
    /* border: 1px solid tomato; */
}
.radio_label{
    width: 600px;
    margin-left: 32px;
    font-size: 20px;
    /* border: 1px solid tomato; */
}
.form_textarea{
    font-size: 22px;
    font-weight: lighter;
    border-radius: 3px;
    margin-left: 20px;
    padding: 10px;
    width: 600px;
    height: 280px;
    resize: none;
    border: 1px solid #5F4A4A;
}    
.form_Btn{
    color: #5F4A4A;
    font-size: 24px;
    font-weight: bold;
    background: #D1D1D1;
    width: 200px;
    border-radius: 40px;
    margin: 60px auto 0;
    padding: 14px 0;
    display: block;
    letter-spacing: 0.05em;
    border: none;
}

footer{
    width: 1000px;
    margin: 0 auto;
    /* border: 3px solid skyblue; */
}
#footer_wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 832px;
    margin: 24px auto 0;
    /* border: 1px solid tomato; */
}
#footer_text{
    /* border: 1px solid tomato; */
}
#company{
    font-size: 16px;
    font-weight: bold;
}
#address{
    font-size: 14px;
}
#telephone_number{
    color:#7CB05B;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
#copyright{
    text-align: center;
    margin-bottom: 24px;
}