*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2E7DC;
    font-family: "A P-OTF 秀英角ゴシック銀 StdN", sans-serif;
    color: #5F4A4A;
}

header{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid skyblue; */
}
#logo{
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid tomato; */
}
nav{
    width: 636px;
    margin: auto 0;
    /* border: 1px solid tomato; */
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
nav li{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    list-style-type: none;
    background-color:#B9D483;
    /* border: 1px solid tomato; */
}
nav li a{
    font-size: 14px;
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
}
nav li a:visited, a:active{
    color: white;
}

#main_wrap{
    width: 100%;
    height: 210vh;
    background-color: #FAF3EA;
}
main{
    width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
    /* border: 3px solid skyblue; */
}
#title{
    color: #5F4A4A;
    font-size: 30px;
    text-align: center;
    width: 400px;
    background: #F3E7DD;
    padding: 10px;
    margin: 40px auto 90px;
}
#form{
    font-size: 22px;
    width: 1000px;
    height: 154vh;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
    /* border: 1px solid tomato; */
}
#form_top{
    padding-top: 20px;
    padding-bottom: 70px;
    /* border: 1px solid tomato; */
}
.form_sample{
    width: 850px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 auto 20px;
    /* border: 1px solid tomato; */
}
.form_label{
    width: 400px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    /* border: 1px solid tomato; */
}
.form_text{
    font-size: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #5F4A4A;
}
#form_middle{
    /* border: 1px solid tomato; */
}
#payment{
    margin: 140px auto 0;
}
#card_wrap{
    background-color: whitesmoke;
    width: 650px;
    height: 330px;
    margin: 0 auto 40px;
    /* border: 1px solid tomato; */
}
.form_Btn{
    color: #5F4A4A;
    font-size: 24px;
    font-weight: bold;
    background: #D1D1D1;
    width: 380px;
    border-radius: 40px;
    margin: 100px auto 0;
    padding: 14px 0;
    display: block;
    letter-spacing: 0.05em;
    border: none;
}
.btn_bottom{
    font-size: 16px;
    text-align: center;
    padding-top: 14px;
}
.form_Btn a{
    text-align: center;
    display: block;
    font-weight: bold;
    text-decoration: none;
}
.form_Btn a:visited, a:active{
    color: #5F4A4A;
}

footer{
    width: 1000px;
    margin: 0 auto;
    /* border: 3px solid skyblue; */
}
#footer_wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 832px;
    margin: 24px auto 0;
    /* border: 1px solid tomato; */
}
#footer_text{
    /* border: 1px solid tomato; */
}
#company{
    font-size: 16px;
    font-weight: bold;
}
#address{
    font-size: 14px;
}
#telephone_number{
    color:#7CB05B;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}
#copyright{
    text-align: center;
    margin-bottom: 24px;
}